meta property="og:title" content="Your Instant Workforce"
meta property="og:description" content="Kriya is where teams extend by connecting to our A.I. vetted workforce under 30 mins"
meta property="og:image" content="https://res.cloudinary.com/dyhdmrsdc/image/upload/v1483573352/Kriya-black-bg_syzya9.png"
meta property="title" content="Your Instant Workforce"
meta property="description" content="Kriya is where teams extend by connecting to our A.I. vetted workforce under 30 mins"
meta[name="viewport" content="width=device-width, initial-scale=1.0"]